/* los rectangulos con los precios*/
.productos li{
    display: inline-block;
     text-align: center;
     width: 20%;
     vertical-align: top;
     background: #fff;
     background-color: white; /*sólo era para poder delinear sabiendo como era el fondo de cada uno*/
     margin: 0 1.5%;
     padding: 30px 20px;
     box-sizing: border-box;
     border: 2px solid #000000;
     border-radius: 10px;
}
.fondo{
   background-color: white;
   background: white;
}
.imgprod{
   border-radius: 10px;
}
.productos li:hover{
   border-color: #c68c19;

}
.productos li:hover h3{
   font-size: 33px;
}
.productos{
   width: 80%;
   margin: 0 auto;
   padding: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 10px;
      background-color: white; 
    }
    .productos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: white; 
    }


.productos h3{
   font-size: 30px;
   font-weight: bold;
}
.producto-descripcion{
     font-size: 18px;
}
.producto-precio{
   font-size: 20px;
   font-weight: bold;
   margin-top: 10px;
}
/*aca se guarda la ventana pop*/
.modal-container{
    display: flex;
    background-color: rgba(145, 142, 142, 0.3);
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.show{
    pointer-events:auto;
    opacity: 1;
}
.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    padding: 100px 90px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0 0 0 0.2);
    text-align: center;
    
}
.modal h1{
    margin: 0;
}
.modal p{
    
    font-size: 15px;
}
*{
    box-sizing: border-box;
}
.cuatro__columnas{
    width: auto;
        display: flex;
        margin-top: 25px;
       
    }
button{
  background-color: #2e518b;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0 0 0 0.2);
  color: #fff;
  font-size: 12px;
  padding: 10px 25px;
}
/* muestra el menú de navegación cuando se hace clic en el botón de menú */
button.menu + ul.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #BBBBBB;
    padding: 20px;
  }
   
  /* muestra el botón de menú en dispositivos móviles */
  button.menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
  }
  
  /* muestra el menú de navegación cuando se hace clic en el botón de menú */
  button.menu + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #BBBBBB;
    padding: 20px;
  }
  
  /* muestra cada elemento de navegación en una nueva línea */
  button.menu + ul li {
    display: block;
    margin: 10px 0;
  }
  
  
  /* oculta el botón de menú en dispositivos más grandes */
  @media screen and (min-width: 768px) {
    button.menu {
      display: none;
    }
    .caja{
      width: auto;
    }
  .cuatro__columnas{
    width: auto;
        display: inline-block;
        margin-top: 25px;
       
    }
  }
    /* muestra el menú de navegación en dispositivos más grandes */
    nav ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    #var1, #var2, #var3{
                 width: auto;
    }
    /* establece la posición y los estilos del menú de navegación */
    nav {
      position: static;
    }
    
    nav ul {
      background: none;
      padding: 0;
    }
    
    nav li {
      margin: 0 10px;
    }
    .titulo-prod{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(52, 57, 148);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
     }
     .titulo-card{
        font-size: 2rem;
     }
     .link-card{
        text-decoration: none;
        color: rgb(52, 111, 148);
        font-size: 1rem;
        transition: all .5s ease-in;
     }
     .link-card:hover{
        color: #e21111ec;;
        transform: scale(1.1);
     }
     .card-1, .card-2, .card-3,.card-4, .card-5, .card-6{
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: repeat(auto-fit,minmax(10rem,.5fr));
     }
     .tarjeta{
        background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
        font-size:1rem;
        font-family: Arial, Helvetica, sans-serif;
        padding:1rem;
        border-radius: 2rem;
        display: grid;
        grid-gap: .5rem;
        text-align: center;
        color: rgb(110, 108, 230);
        transition: all .5s ease-in;
     }
     .tarjeta:hover{
        transform: scale(1.05);
        background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
     }
     .prod-img{
        width: 100%;
        border-radius: 2rem;
     }
     .prod-titulo{
        font-size: 30px;
     }
     .prod-precio{
        font-size: 20px;
     }
     .prod-enlace{
        text-decoration: none;
        color: #e21111ec;
        font-size: 1rem;
        font-weight: bold;
     }