header {
    background-color: #BBBBBB;
    padding: 20px 0;
    box-shadow: inset 0 0 30px #2e518b; 
    margin-top: 0;
}
body{
  background-color: rgb(212, 232, 225);
}
.caja{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

nav{
    position: relative;
    top:-50px;
    right: 0;
}
.nav{
    display: flex;
justify-content: flex-end;
align-items: center;
}
nav li{
    display: inline;
    margin: 0 0 0 5px;
    flex-direction: row;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
footer{
    background-color: #BBBBBB;
    padding: 30px 0;
    box-shadow: inset 0 0 30px #2e518b; 
}

.lista-footer{
  margin-left: -50%;
  display: inline-block;
  vertical-align: top;
  list-style:none;
  text-decoration: none;
}
*{
    box-sizing: border-box;
}

button{
  background-color: #2e518b;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0 0 0 0.2);
  color: #fff;
  font-size: 12px;
  padding: 10px 25px;
}
.modal-container{
    display: flex;
    background-color: rgba(145, 142, 142, 0.3);
    opacity: 0;
    align-items: center;
    justify-content: center;
    position:fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 110vh;
    width: 100vw;
}
.show{
    pointer-events:auto;
    opacity: 1;
}
.modal{
    background-color: #ccc9c9;
    width: 90%;
    height: 90%;
    padding: 100px 90px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0 0 0 0.2);
    text-align: center;
    
}
.modal h1{
  margin-top: -5px;
    margin: 0;
}
.modal p{
    width:100%;
    height:90% ;
    font-size: 20px;
    margin-top: -2px;
}
.item{
  width:75%;
  height:45% ;
    transition:0.5s;
    object-fit: cover;
    margin-top: 1px;
    margin-bottom: 1px;
}
.item:hover{
  transform: scale(1.1);
}
#sobre__titulo, h2{
   color: black;
   font-family: Pacifico, cursive;
    font-size: 5rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: 1px;
}
 /* muestra el menú de navegación cuando se hace clic en el botón de menú */
button.menu + ul.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #BBBBBB;
    padding: 20px;
  }
   
  /* muestra el botón de menú en dispositivos móviles */
  button.menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
  }
  
  /* muestra el menú de navegación cuando se hace clic en el botón de menú */
  button.menu + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #BBBBBB;
    padding: 20px;
  }
  
  /* muestra cada elemento de navegación en una nueva línea */
  button.menu + ul li {
    display: block;
    margin: 10px 0;
  }
  
  
  /* oculta el botón de menú en dispositivos más grandes */
  @media screen and (min-width: 768px) {
    button.menu {
      display: none;
    }
    .caja{
      width: auto;
    }
  .cuatro__columnas{
    width: auto;
  }
    /* muestra el menú de navegación en dispositivos más grandes */
    nav ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    #var1, #var2, #var3{
                 width: auto;
    }
    /* establece la posición y los estilos del menú de navegación */
    nav {
      position: static;
    }
    
    nav ul {
      background: none;
      padding: 0;
    }
    
    nav li {
      margin: 0 10px;
    }
  }
  



